<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Secondary" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <Label class="page__content-icon fas" text="&#xf025;"></Label>
  <Label class="page__content-placeholder" text="This is a secondary component"></Label>
  <StackLayout>
    <button text="Go Home" [nsRouterLink]="['/home']"></button>
    <button text="Go back" [nsRouterLink]="['/primary']"></button>
  </StackLayout>
</GridLayout>
