<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Search" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<StackLayout class="page__content">
  <Label class="page__content-icon fas" text="&#xf002;"></Label>
  <Label class="page__content-placeholder" *ngFor="let s of this.news.search()" [text]="s"></Label>
</StackLayout>
